# local dir
local

# local file
publish_descriptor.py

# image formats
*.jpg
*.png
*.dicom
*.dcm
*.txt
*.diff

# compilation and distribution
__pycache__

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

