# local dir

# local file
publish_descriptor.py
convert_weights.py
Dockerfile_old

# image formats
*.jpg
*.png
*.dicom
*.dcm
*.txt
*.diff

# compilation and distribution
__pycache__

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.tar 
*.gz

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

